---
import { getCollection } from "astro:content";
import Layout from '../../layouts/Layout.astro';
import BlogListing from '../../components/blog/listing.astro';

let blog = await getCollection('blog', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
blog.sort((a, b) => b.data.date - a.data.date);
---

<Layout title="Blog">
  <div class="page px-4">
    <h1>Blog</h1>

    <BlogListing posts={blog} />
  </div>
</Layout>