---
import { getCollection } from 'astro:content';
import Position from '../positions/position.astro';

const jobs = await getCollection('positions', ({ data }) => {
  return data.active === true  && data.type.toLowerCase() === 'job';
});
const vols = await getCollection('positions', ({ data }) => {
  return data.active === true  && data.type.toLowerCase() === 'volunteer';
});
---

<div class={`positions ${jobs.length === 0 && vols.length === 0 && 'hidden'}`}>
  <div class={`job-section ${jobs.length === 0 && 'hidden'}`}>
    <h2>Current Job Openings</h2>
    {jobs.map((job) => (
      <Position id={job.slug} />
    ))}
  </div>
  <div class={`job-section ${vols.length === 0 && 'hidden'}`}>
    <h2>Current Volunteer Opportunities</h2>
    {vols.map((vol) => (
      <Position id={vol.slug} />
    ))}
  </div>
</div>


<style scoped>
  div.positions {
    @apply m-0;
  }
  div.job-section {
    @apply my-8;
  }
  div.job-section h2 {
    @apply mt-4 md:mt-8 px-2 text-rose-800 border-b-2 border-rose-800/10 w-fit opacity-90;
  }
</style>