<div class="w-full bg-gray-200 border-t border-gray-300 py-8 px-8">
  <div class="max-w-4xl mx-auto">
    <p>Copyright &copy; 2024 Joyful Childhood Care Foundation</p>
  </div>
</div>

<style>
  p {
    @apply text-gray-500 text-center;
  }
</style>