---
import { Icon } from "astro-icon/components";
import { getEntry } from "astro:content";
const { data: { value:title } } = await getEntry('settings', 'organization-name');
---

<div class="w-full bg-green-800 bg-gradient-to-b from-lime-700/50 to-green-800 border-t border-gray-300 py-8 px-8">
  <div class="max-w-4xl mx-auto">
    <p>Copyright &copy; 2024 {title}</p>
    <a href="/contact-us"><Icon name="solar:mailbox-bold" class="inline mr-2" />Contact Us</a>
    <a href="/admin/index.html" class="opacity-60"><Icon name="solar:clapperboard-edit-bold" class="inline mr-2" />Content Manager</a>
  </div>
</div>

<style>
  p, a {
    @apply text-gray-200/70 text-center block;
  }
</style>