---
import Button from '../Button.astro'; 
const { label, icon } = Astro.props;
---

<span class="block max-w-fit bg-amber-500/90 hover:bg-amber-500 text-gray-900/90 hover:text-gray-900">
  <Button label={label} icon={icon} />
</span>
