---
import Button from '../Button.astro'; 
const { label, icon } = Astro.props;
---

<span class="block max-w-fit bg-gray-200/90 hover:bg-gray-200 text-gray-800/90 hover:text-gray-800">
  <Button label={label} icon={icon} />
</span>
