---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

export async function getStaticPaths() {
  const pages = await getCollection('pages');
  return pages.map(page => {
    return {
      params: { slug: page.slug }, 
      props: { page }
    }
  });
}

const { page } = Astro.props;
const { Content } = await page.render();
---

<Layout title={page.data.title}>
  <div class="page">
    <h1>{page.data.title}</h1>
    <div class="content">
      <Content />
    </div>
  </div>
</Layout>
