---
import Layout from '../layouts/Layout.astro';
import About from '../components/home/about.astro';
import Projects from '../components/home/projects.astro';
import Donate from '../components/home/donate.astro';
import GetInvolved from '../components/home/get-involved.astro';
import Blog from '../components/home/blog.astro';
import { getEntry } from 'astro:content';

const { data: { value:title } } = await getEntry('settings', 'organization-name');
const { data: { value:tag_line} } = await getEntry('settings', 'tag-line');
---

<Layout title={title}>
  <h1 class="title">{title}</h1>
  <p class="tagline">{tag_line}</p>

  <About />
  <Projects />
  <Donate />
  <GetInvolved />
  <Blog />
</Layout>

<style>
  h1.title {
    @apply p-4 mt-20 bg-gradient-to-r from-green-700 to-yellow-300 bg-clip-text text-transparent;
  }
  p.tagline {
    @apply p-4 text-center text-gray-600 text-xl font-semibold;
  }
</style>
