---
import { getEntry } from 'astro:content';

const home = await getEntry('pages', 'home');
const { Content } = await home.render();
---

<div class="my-20 p-4 w-full max-w-4xl mx-auto">
  <h1 class="home-header">Who We Are</h1>
  <div class="block md:flex justify-between gap-x-8">
    <div>
      <Content />
      <a class="btn btn-amber mt-4 md:mt-8" href="/about-us">Learn More</a>
    </div>
    <div class="flex items-center justify-around mt-8 md:mt-0">
      <img class="max-w-lg w-full max-h-72  p-2 border-2 border-emerald-800/10 rounded-full shadow-md" src="/images/logo-color-name.svg" />
    </div>
  </div>
</div>
