---
import { getCollection } from "astro:content";
import Layout from '../../layouts/Layout.astro';

const projects = await getCollection('projects', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
console.log(projects);
---

<Layout title="Projects">
  <h1>Projects</h1>

  {projects.map((project) => (
    <div class="my-4">
      <h2>{project.data.title}</h2>
      <p>{project.data.description}</p>
      <p><a href={`/projects/${project.slug}`}>Read More</a></p>
    </div>
  ))}
</Layout>