---
import NavBar from '../components/layout/NavBar.astro';
import Footer from '../components/layout/Footer.astro';
import '../styles/main.css';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/style.css" />
    <title>{title}</title>
    <script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
      <NavBar />
      <main class="w-full max-w-4xl mx-auto grow mt-20 overflow-y">
        <slot />
      </main>
      <Footer />
    </div>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
