---
import NavBar from '../components/layout/NavBar.astro';
import Footer from '../components/layout/Footer.astro';
import '../styles/main.css';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Empowering children & young adults for a better future" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <slot name="meta" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script is:inline src="https://platform-api.sharethis.com/js/sharethis.js#property=661dccdbb8238c00198b5bb4&product=inline-share-buttons&source=platform" async="async"></script>
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
      <NavBar />
      <main class="grow my-20">
        <slot />
      </main>
      <Footer />
    </div>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
